################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/DotNetCoreDemo/obj
/obj/Docker
/.vs/DotNetCoreDemo/v15/.suo
/.vs/DotNetCoreDemo/v15/Server/sqlite3
